<div class="form">
    <div class="form__row select-input">
        <label for="FrequencyStrobeAnimation_mode">Режим</label>
        <select data-option-input="FrequencyStrobe.mode" id="FrequencyStrobeAnimation_mode">
            <option value="0">Все частоты</option>
            <option value="1">Высокие</option>
            <option value="2">Средние</option>
            <option value="3">Низкие</option>
        </select>
    </div>
    {% engine.include("inputs/audio.html", {prefix: context.animation}) %}
</div>
